# Server
PORT=4000
NODE_ENV=development

# Database
DB_PORT=3306
DB_ROOT_PASSWORD=root_secret
DB_NAME=property_manager_dev
DB_USER=property_user
DB_PASSWORD=property_secret
DATABASE_URL="mysql://property_user:property_secret@localhost:3306/property_manager_dev"

# Weatherstack API
WEATHERSTACK_API_KEY=your_weatherstack_api_key_here
